transformers==4.46.3
datasets
accelerate==0.27.0
deepspeed==0.14.2
evaluate
matplotlib
hydra-core
omegaconf
peft
rouge_score
tqdm
matplotlib
einops
packaging
bitsandbytes
scipy
ninja
sentencepiece
protobuf
wandb
google-generativeai
openai
aiohttp_jinja2
huggingface_hub
scikit-learn
numpy==1.23.5
torch==2.2.2
torchvision==0.17.2 
torchaudio==2.2.2 
flash-attn==2.5.8